* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

section {
  height: 100vh;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
